<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">任務列表</h2>
<div class="row">
  <div class="col-lg-10 mx-auto">
    <%= link_to t('action.create'), new_task_path %>
    <p>排序：
      <%= link_to t('activerecord.attributes.task.end_time'), tasks_path(sort_by: 'end_time', direction: 'asc') %>
      <%= link_to t('activerecord.attributes.task.created_at'), tasks_path(sort_by: 'created_at', direction: 'desc') %>
      <%= link_to t('activerecord.attributes.task.priority'), tasks_path(sort_by: 'priority', direction: 'desc') %>
    </p>
    <p>
      <%= form_tag(tasks_path, method: :get) do %>
        <%= select_tag :status, options_for_select(Task.statuses.map { |key, value| [t("enums.task.statuses.#{key}"), key] }), prompt: t('activerecord.attributes.task.status') %>
        <%= text_field_tag(:keyword, params[:keyword], class: "query-title") %>
        <%= submit_tag t('helpers.search') %>
      <% end %>
    </p>
    <table class="table table-striped table-borderless" width="100%">
      <thead class="thead-red">
        <tr>
          <th><%= t('activerecord.attributes.task.priority') %></th>
          <th><%= t('activerecord.attributes.task.status') %></th>
          <th><%= t('activerecord.attributes.task.title') %></th>
          <th><%= t('activerecord.attributes.task.content') %></th>
          <th><%= t('activerecord.attributes.task.end_time') %></th>
          <th><%= t('activerecord.attributes.task.created_at') %></th>
          <th><%= t('action.edit') %></th>
          <th><%= t('action.delete') %></th>
        </tr>
      </thead>
      <tbody>  
        <% @tasks.each do |task| %>
          <tr>
            <td><%= t("enums.task.priorities.#{task.priority}") %></td>
            <td><%= t("enums.task.statuses.#{task.status}") %></td>
            <td class='task-title'><%= task.title %></td>
            <td class='task-content'><%= task.content %></td>
            <td><%= task.end_time %></td>
            <td><%= task.created_at %></td>
            <td><%= link_to t('action.edit'), edit_task_path(task)  %></td>
            <td><%= link_to t('action.delete'), task_path(task), method: "delete", data: { confirm: t("message.are_you_sure_to_delete") } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @tasks %>
  </div>
</div>
