<%= link_to "create", new_task_path %>

<table border="1">
  <thead>
    <tr>
      <th>任務名稱</th>
      <th>任務內容</th>
      <th>修改</th>
      <th>刪除</th>
    </tr>
  </thead>
  <tbody>  
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= link_to "修改", edit_task_path(task)  %></td>
        <td><%= link_to "刪除", task_path(task), method: "delete", data: { confirm: "確認刪除?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
